= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = boolean_field :bmc_enable
    = string_field :bmc_user
    = password_field :bmc_password
    = boolean_field :use_dhcp
    = boolean_field :ignore_address_suggestions
    = boolean_field :debug
